.form {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.label {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(85, 26, 139);
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
}
.input {
    margin-top: 10px;
    border-radius: 5px;
}
.input:hover,
.input:focus {
    border: 2px solid rgb(85, 26, 139);
    border-radius: 5px;
}